/************************************************
    SOLUZIONI RESPONSIVE
 ************************************************/
/***************************************  Extra Small (XS): <576px  **************************************/
@media all and (max-width: 575px){
.app-container{
    flex-direction: column;
  }
html, body{
    overflow-x: hidden;
    background-color: #191922;
  }
.sidebar{
    width: 50px;
    padding: 20px 0 95px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
.sidebar .logo{
    content: url('../img/logo-small.svg');
    width: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 24px;
    margin: 0 auto;
    margin-bottom: 5px;
  }
.sidebar nav ul li.green::before{
    display: none;
  }
 .sidebar nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 0;
    margin: 0;
  }
.sidebar nav ul li{
    list-style: none;
    font-size: 0;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    position: relative;
  }
.sidebar nav ul li img{
    width: 25px;
    height: 25px;
    object-fit: contain;
  }
  .sidebar .playlist, .sidebar-middle, .sidebar-bottom{
    display: none;
  }
/* ----- CONTENUTO PRINCIPALE ----- */
 .topbar {
    position: fixed;
    top: 0;
    left: 48px;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 12px;
  }
  .main-wrapper{
  margin-left: 48px;
  width: calc(100% - 48px);
  padding: 60px 10px 100px;
  }
   .upgrade-btn{
    font-size: 11px;
    padding: 6px 14px;
    border: 1.5px solid #fff;
    font-weight: 700;
    cursor: pointer;
  }
  .filter-bar{
    background-color: transparent;
    padding: 10px 10px 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .filter-bar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px 20px;
    font-size: 11px;
    font-weight: 700;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .filter-bar li{
    position: relative;
    white-space: nowrap;
  }
  .recently-played h2, .created-for h2, .popular-artists h2{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .created-for .section-subtitle, .popular-artists .subtitle{
    margin-bottom: 10px;
    padding-left: 5px;
    margin-top: 15px;
  }
  .row, .created-for .row, .popular-artists .artist-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px 0;
    margin-bottom: 20px;
  }
  .col, .artist-row .col, .created-for .col {
    width: calc(50% - 10px);
    text-align: center;
  }
   .artist-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  .artist-row .col{
    width: calc(50% - 10px);
    text-align: center;
  }
  .col{
    width: calc(50% - 10px); 
  }
  .card-image{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
  }
   .card-image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card h3{
    font-size: 15px;
    margin-top: 8px;
    text-align: center;
  }
  .card p{
    font-size: 10px;
    text-align: center;
  }
  .card-image.round{
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  .card-image.round img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
/* ========== PLAYER ========== */
.player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  .player-left img{
    width: 35px;
    height: 35px;
    object-fit: cover;
  }
   .track-info p{
    margin: 0;
    font-weight: 600;
  }
  .track-icons{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .player-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    flex: 1;
  }
  .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .controls i{
    font-size: 16px;
  }
  .play-btn{
    width: 35px;
    height: 34px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .play-btn i{
    font-size: 20px;
    transform: translateX(1px);
  }
  .progress{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 10px;
    width: 100%;
    padding: 0 10px;
  }
  .sidebar-bottom{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: auto;
    padding-bottom: 10px;
    align-items: center;
  }
  .install-app{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .install-app img{
    width: 18px;
    height: 18px;
    object-fit: contain;
  }
  .install-app span{
    display: none;
  }
  .user-profile img{
    width: 23px;
    height: 23px;
  }
  .user-profile .name{
    display: none;
}
.divider{
    display: none;
}
  .player-right{
    gap: 8px;
  }
}
/***************************************  Small (S): 576px≤width≤767px  **************************************/
@media all and (min-width: 576px) and (max-width: 767px){
.main-wrapper{
  margin-left: 190px;
  width: calc(100% - 190px);
  padding: 70px 20px 100px;
}
  .sidebar{
  width: 190px;
  height: 100vh;
  padding: 25px 15px 130px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo{
    margin-top: 0;
}
  .sidebar nav ul{
    display: flex;
    flex-direction: column;
  }
  .sidebar nav ul li{
    font-size: 11px;
  }
  .sidebar nav ul li.green::before{
  content: "";
  top: 0;
  left: -15px;
  width: 2.5px;
  height: 25px;
  background-color: #1ed760;
  border-radius: 1px;
}
   .sidebar-middle{
    margin-bottom: 90px;
  }
  .sidebar-middle li{
    font-size: 11px;
  }
  .create{
    font-size: 12px;
  }
  .playlist{
    font-size: 12px;
    margin-top: 0;
  }
  .sidebar-bottom{
    padding-bottom: 20px;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    gap: 5px;
    flex-direction: column;
  }
  .install-app, .user-profile{
    display: flex;
    align-items: center;
    font-size: 11px;
  }
  .install-app img, .user-profile img {
    margin-left: 0;
  }
  .install-app img{
    width: 16px;
    height: 16px;
    object-fit: contain;
  }
  .user-profile img{
    width: 20px;
    height: 20px;
  }
  .install-app {
}
  .divider{
    width: 100%;
    height: 1.3px;
    background-color: #2a2a2a;
  }
  .topbar{
    position: fixed;
    top: 0;
    left: 190px;
    right: 0;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
  }
  .upgrade-btn{
    font-size: 11px;
    padding: 12px 25px;
    border: 1px solid #fff;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    background: transparent;
  }
  .filter-bar ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px 10px;
  font-size: 11px;
  padding: 0;
  margin: 10px 0 20px;
}
.filter-bar li{
  text-align: center;
  margin-bottom: 10px;
  white-space: nowrap;
}
  .recently-played h2, .created-for h2, .popular-artists h2{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .created-for .section-subtitle, .popular-artists .subtitle {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .recently-played .row, .created-for .row, .popular-artists .artist-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px 15px;
  }
.recently-played .col, .created-for .col, .popular-artists .col{
  width: calc(50% - 10px);
  max-width: none;
}

}






