/* Reset + base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html{
  height: 100%;
  font-family:'Montserrat', sans-serif;
}
.app-container {
  display: flex;
  height: 100vh;
}
.sidebar{
  position: fixed;
  width: 225px;
  background-color: #000000;
  padding: 20px;
  position: fixed;
  padding-right: 7px;
  padding-bottom: 95px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
section{
  width: 100%;
  display: block;
}
/* Sidebar top */
.sidebar .logo{
  width: 55%;
  margin-bottom: 13px;
}
.sidebar ul li img{
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.sidebar nav ul{
  list-style: none;
  color: #A3A3A3;
  font-weight: 700;
}
.sidebar nav ul li{
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  cursor: pointer;
}
.sidebar nav ul li.green{
  position: relative;
  color: white; 
  padding-left: 5px;
}

.sidebar nav ul li.green::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2.5px;
  height: 100%;
  background-color: #1ED760;
  border-radius: 1px;
}
.playlist{
    color: white;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.playlist-actions{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
/* Sidebar middle */
.sidebar-middle{
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
}
.sidebar-middle ul{
  list-style: none;
  padding: 0;
  color: #A3A3A3;
}
.sidebar-middle li{
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 13px;
}
.playlist-items{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  white-space: nowrap; 
}
.create{
    font-size: 13px;
    color: #A3A3A3;
    font-weight: 600;
}
.icon-plus{
  width: 28px;
  height: 28px;
  background-color: #A3A3A3;
  color: black;
  font-size: 26px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
/* Sidebar bottom */
.sidebar-bottom{
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.install-app, .user-profile{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #b3b3b3;
}
.install-app img{
  width: 15px;
  height: 15px;
  object-fit: contain;
}
.divider{
  border: none;
  height: 1px;
  background-color: #A3A3A3;
  width: 100%;
}
.user-profile img{
  width: 20px;
  height: 20px;
  object-fit: cover;
  background-color: #A3A3A3;
  border-radius: 50%;
}
.name{
    font-weight: 700;
    color: white;
}
/* Footer "player" */
.player{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  z-index: 10;
}
.player-left, .player-center, .player-right {
  display: flex;
  align-items: center;
}
.player-left{
  flex: 1;
  gap: 15px;
}
.player-left img{
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.track-info h4{
  font-size: 14px;
  font-weight: bold;
}
.track-info p{
  font-size: 11px;
  color: #b3b3b3;
}
.track-icons{
  display: flex;
  gap: 10px;
}
.track-icons i{
  font-size: 14px;
  color: #b3b3b3;
  cursor: pointer;
}
.player-center{
  flex: 2;
  flex-direction: column;
  align-items: center;
}
.controls{
  display: flex;
  align-items: center;
  gap: 20px;
}
.controls i{
  font-size: 18px;
  color: white;
  cursor: pointer;
}
.play-btn{
  width: 36px;
  height: 36px;
  border: 3.3px solid white;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.play-btn i{
  font-size: 21px;
  color: white;
  position: relative;
  transform: translateX(1.2px);
}
.progress{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 11px;
  color: #b3b3b3;
  width: 100%;
  margin-top: 4px;
}
.progress .bar{
  flex: 1;
  height: 4px;
  background-color: #555;
  border-radius: 2px;
  position: relative;
  overflow: visible;
  cursor: pointer;
}
.progress .bar-fill{
  width: 18%;
  height: 100%;
  background-color: #b3b3b3;
  position: relative;
  transition: 0.2s;
  border-radius: 2px;
}
.progress .point{
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}
.progress:hover .bar-fill{
  background-color: #1ED760;
}
.progress:hover .point{
  display: block;
}
.player-right{
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}
.player-right i{
  font-size: 13px;
  color: white;
  cursor: pointer;
}
.volume-bar{
  width: 100px;
  height: 4px;
  background-color: #555;
  border-radius: 2px;
  overflow: visible;
  position: relative;
  cursor: pointer;
}
.volume-fill{
  width: 23%;
  height: 100%;
  background-color: #b3b3b3;
  position: relative;
  transition: 0.2s;
  border-radius: 2px;
}
.volume-fill .point{
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}
.volume-bar:hover .volume-fill{
  background-color: #1ED760;
}
.volume-bar:hover .point{
  display: block;
}
/* Main */
.main-wrapper{
  margin-left: 225px;
  width: calc(100% - 225px);
  overflow-y: auto;
  background-color: #191922 ;
  min-height: 100vh;
}
/* Topbar */
.topbar{
  height: 95px;
  background: #080b12;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  position: relative;
  top: 0;
  z-index: 10;
}
.upgrade-btn{
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
}
.filter-bar{
  background-color: transparent;
  padding: 20px 30px;
}
.filter-bar ul{
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 13px;
  font-weight: 700;
  color: #b3b3b3;
}
.filter-bar li{
  position: relative;
  padding-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
  text-align: center;
}
.filter-bar li.green, .filter-bar li:hover{
  color: white;
}
.filter-bar li.green::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 45px;
  height: 3px;
  width: 40%;
  transform: translateX(-50%);
  background-color: #1ED760;
  border-radius: 1px;
}
/* Grid 1 */
.recently-played{
  padding: 0 20px 80px;
}

.recently-played h2{
  color: white;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.col{
  width: 180px;
}
.card{
  background-color: transparent;
  padding: 15px;
  color: white;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}
.card-image{
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
}
.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0;
  transition: 0.3s ease;
}
.play-button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition:0.3s ease;
  font-size: 16px;
}
.card:hover .play-button{
  opacity: 1;
}
.card:hover img{
  opacity: 0.7;
}
.card h3{
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 5px;
  font-size: bold;
}
.card p{
  font-size: 12px;
  color: #b3b3b3;
} 

/* Grid 2 */
.created-for h2{
  color: white;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 700;
}
.section-subtitle{
  font-size: 13px;
  color: #b3b3b3;
  margin-bottom: 20px;
}
.card img{
  border-radius: 0;
}
.card-image{
  width: 180px;       
  height: 180px;        
  overflow: hidden;
  position: relative;
}
.created-for .row{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.created-for .col{
  width: 180px;
}

/* Grid 3 */

.popular-artists h2, .popular-artists .subtitle{
  color: white;
}
.artist-row{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.artist-row .col{
  width: 180px;
  flex-shrink: 0;
}
.card-image.round img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-image.round{
  border-radius: 50%;
  width: 180px;
  height: 180px;
  overflow: hidden;
  position: relative;
}
